.pagination{
    text-align: center;
    margin-top: 40px;
    display: block !important;
    h2{
        display: block;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            margin: 0;
            padding: 0;
            a{
                border-radius: 4px;
                width: 44px;
                height: 44px;
                padding: 0;
                line-height: 44px;
                display: block;
                border-bottom: none;
                color: $dark1;
                background-color: transparent;
                font-weight: 700;
                margin: 0;
                font-size: 14px;
            }
            span{
                border-radius: 4px;
                width: 44px;
                height: 44px;
                padding: 0;
                line-height: 44px;
                display: block;
                &.current{
                    background-color: $secondary_color1;
                    color: #ffffff;
                }
            }
        }
    }
}